Repository Fataplus/Fataplus-Agritech-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fefe, @fataplus-admin, @frontend-team, @ui-team, @devops-team, @backend-team, @api-team, @data-team, @mobile-team, @ai-team, @docs-team, @product-team, @security-team, @qa-team, @admin-team, @dba-team, @ml-engineer-team

.github/CODEOWNERS:

# Fataplus Agritech Platform - Code Ownership
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - must review all changes
* @fefe @fataplus-admin

# Web Frontend (Next.js/React)
web-frontend/ @fefe @frontend-team
web-frontend/src/components/ @fefe @ui-team
web-frontend/src/pages/ @fefe @frontend-team
web-frontend/package.json @fefe @devops-team

# Web Backend (FastAPI/Python)
web-backend/ @fefe @backend-team
web-backend/src/routes/ @fefe @api-team
web-backend/src/services/ @fefe @backend-team
web-backend/src/models/ @fefe @data-team
web-backend/requirements.txt @fefe @devops-team

# Mobile Application (React Native)
mobile-app/ @fefe @mobile-team
mobile-app/src/components/ @fefe @mobile-team
mobile-app/android/ @fefe @mobile-team
mobile-app/ios/ @fefe @mobile-team
mobile-app/package.json @fefe @devops-team

# AI Services (Python/ML)
ai-services/ @fefe @ai-team
ai-services/weather/ @fefe @ai-team
ai-services/livestock/ @fefe @ai-team
ai-services/market/ @fefe @ai-team
ai-services/gamification/ @fefe @ai-team
ai-services/requirements.txt @fefe @devops-team

# Infrastructure & DevOps
infrastructure/ @fefe @devops-team
infrastructure/docker/ @fefe @devops-team
infrastructure/k8s/ @fefe @devops-team
infrastructure/terraform/ @fefe @devops-team
infrastructure/monitoring/ @fefe @devops-team

# Tools & Scripts
tools/ @fefe @devops-team
scripts/ @fefe @devops-team

# Documentation
*.md @fefe @docs-team
docs/ @fefe @docs-team
README.md @fefe @docs-team

# Specifications & Requirements
specs/ @fefe @product-team
specs/*/spec.md @fefe @product-team
specs/*/plan.md @fefe @product-team
specs/*/roadmap.md @fefe @product-team

# API Contracts
specs/*/contracts/ @fefe @api-team
*.yaml @fefe @api-team

# Security & Compliance
# Require security team review for authentication, encryption, and compliance
**/auth*/ @fefe @security-team
**/security*/ @fefe @security-team
**/encrypt*/ @fefe @security-team
**/compliance*/ @fefe @security-team

# Database & Data Models
**/models/ @fefe @data-team
**/migrations/ @fefe @data-team
**/schemas/ @fefe @data-team

# Testing
**/tests/ @fefe @qa-team
**/test*/ @fefe @qa-team
**/*.test.* @fefe @qa-team
**/*.spec.* @fefe @qa-team

# CI/CD & Configuration
.github/ @fefe @devops-team
.github/workflows/ @fefe @devops-team
.github/CODEOWNERS @fefe @admin-team
.gitignore @fefe @devops-team
Dockerfile* @fefe @devops-team
docker-compose* @fefe @devops-team

# Dependencies & Package Management
package.json @fefe @devops-team
requirements.txt @fefe @devops-team
pyproject.toml @fefe @devops-team
Pipfile* @fefe @devops-team

# Environment & Configuration
.env* @fefe @security-team
config*/ @fefe @devops-team
**/config/ @fefe @devops-team

# Emergency Contacts
# For critical infrastructure changes
infrastructure/k8s/ @fefe @devops-team @admin-team
infrastructure/terraform/ @fefe @devops-team @admin-team

# Special Reviews Required
# Database schema changes require DBA review
**/alembic/ @fefe @data-team @dba-team
**/migrations/ @fefe @data-team @dba-team

# AI Model changes require ML engineering review
ai-services/**/*.py @fefe @ai-team @ml-engineer-team
**/*model*/ @fefe @ai-team @ml-engineer-team
**/*train*/ @fefe @ai-team @ml-engineer-team

feat: Complete CI/CD pipeline setup with Docker and testing
  .github/workflows/ci.yml
  ai-services/Dockerfile
  ai-services/core/__init__.py
  ai-services/core/main.py
  ai-services/tests/unit/test_main.py
  docker-compose.yml
  infrastructure/docker/postgres/init.sql
  mobile-app/Dockerfile
  mobile-app/package.json
  mobile-app/src/App.tsx
  mobile-app/src/__tests__/App.test.tsx
  specs/001-fataplus-agritech-platform/plan.md
  web-backend/Dockerfile
  web-backend/main.py
  web-backend/src/__init__.py
  web-backend/tests/unit/test_main.py
  web-frontend/Dockerfile
  web-frontend/jest.config.js
  web-frontend/jest.setup.js
  web-frontend/next.config.js
  web-frontend/package.json
  web-frontend/src/__tests__/App.test.tsx
  web-frontend/src/pages/index.tsx
Owners: @fefe, @devops-team, @ai-team, @ml-engineer-team, @mobile-team, @qa-team, @product-team, @backend-team, @frontend-team

fix: Resolve CI/CD pipeline failures
  web-frontend/package.json
Owners: @fefe, @devops-team

docs: Update plan.md with CI/CD resolution status
  specs/001-fataplus-agritech-platform/plan.md
Owners: @fefe, @product-team

feat: add frontend infrastructure and backend updates
  web-frontend/Dockerfile
  web-frontend/next-env.d.ts
  web-frontend/tsconfig.json
Owners: @fefe, @devops-team, @frontend-team

feat: Complete Week 2 implementation with authentication and database setup
  .github/workflows/ci.yml
  ai-services/Dockerfile
  ai-services/core/main.py
  docs/CREDENTIALS.md
  mobile-app/package.json
  specs/001-fataplus-agritech-platform/Documents/FP-BP_2023.md
  web-backend/Dockerfile
  web-backend/init_db.py
  web-backend/main.py
  web-backend/requirements.txt
  web-backend/src/auth/dependencies.py
  web-backend/src/auth/routes.py
  web-backend/src/auth/security.py
  web-backend/src/main.py
  web-backend/src/models/__init__.py
  web-backend/src/models/database.py
  web-backend/src/models/organization.py
  web-backend/src/models/user.py
  web-backend/src/routes/__init__.py
  web-backend/src/routes/organizations.py
  web-backend/src/routes/users.py
  web-backend/test_api.py
Owners: @fefe, @devops-team, @ai-team, @ml-engineer-team, @docs-team, @product-team, @backend-team, @security-team, @api-team

fix: Correct MinIO credentials in CREDENTIALS.md
  docs/CREDENTIALS.md
Owners: @fefe, @docs-team

fix: Update MinIO configuration to use correct environment variables
  docker-compose.yml
  docs/CREDENTIALS.md
Owners: @fefe, @devops-team, @docs-team

feat: Initialize Next.js frontend with basic structure
  web-frontend/package-lock.json
  web-frontend/package.json
  web-frontend/postcss.config.js
  web-frontend/src/components/Footer.tsx
  web-frontend/src/components/Layout.tsx
  web-frontend/src/components/Navbar.tsx
  web-frontend/src/components/sections/CTASection.tsx
  web-frontend/src/components/sections/FeaturesSection.tsx
  web-frontend/src/components/sections/HeroSection.tsx
  web-frontend/src/components/sections/SolutionsSection.tsx
  web-frontend/src/components/sections/StatsSection.tsx
  web-frontend/src/components/sections/TestimonialsSection.tsx
  web-frontend/src/pages/_app.tsx
  web-frontend/src/pages/index.tsx
  web-frontend/src/styles/globals.css
  web-frontend/tailwind.config.js
Owners: @fefe, @frontend-team, @devops-team, @ui-team

feat: Add Cloudron deployment configuration and LDAP authentication
  CLOUDRON_DEPLOYMENT.md
  CloudronManifest.json
  Dockerfile.cloudron
  docker-compose.cloudron.yml
  docker-compose.yml
  docs/CREDENTIALS.md
  start.sh
  web-backend/requirements.txt
  web-backend/src/auth/ldap_auth.py
  web-backend/src/auth/routes.py
Owners: @fefe, @docs-team, @fataplus-admin, @devops-team, @security-team

feat: complete marketing site with landing page, features, and sections
  web-frontend/.eslintrc.json
  web-frontend/src/components/sections/CTASection.tsx
  web-frontend/src/components/sections/SolutionsSection.tsx
  web-frontend/src/components/sections/TestimonialsSection.tsx
Owners: @fefe, @frontend-team, @ui-team

Add Fataplus Design System feature specification
  specs/002-fataplus-design-system/data-model.md
  specs/002-fataplus-design-system/plan.md
  specs/002-fataplus-design-system/spec.md
  specs/002-fataplus-design-system/tasks.md
Owners: @fefe, @product-team

Add MCP Server for Design System feature specification
  specs/003-mcp-server-for/data-model.md
  specs/003-mcp-server-for/plan.md
  specs/003-mcp-server-for/spec.md
  specs/003-mcp-server-for/tasks.md
Owners: @fefe, @product-team

Expand MCP Server to cover entire Fataplus Platform
  specs/003-mcp-server-for/data-model.md
  specs/003-mcp-server-for/plan.md
  specs/003-mcp-server-for/spec.md
Owners: @fefe, @product-team

Rename feature to Fataplus MCP
  specs/003-fataplus-mcp/data-model.md
  specs/003-fataplus-mcp/plan.md
  specs/003-fataplus-mcp/spec.md
  specs/003-fataplus-mcp/tasks.md
Owners: @fefe, @product-team

🚀 Production Release v1.0.0
  .env.production
  PRODUCTION_DEPLOYMENT.md
  README.md
  cleanup_branch.sh
  delete_legacy_branch.sh
  docker-compose.production.yml
  mcp-server/package-lock.json
  push_changes.sh
  validate-production.sh
Owners: @fefe, @security-team, @docs-team, @fataplus-admin, @devops-team

🚀 Implement Complete CI/CD Pipeline for Cloudron Deployment
  .github/workflows/ci.yml
  CICD_DEPLOYMENT.md
  README.md
  deploy-cloudron.sh
  health-check.sh
Owners: @fefe, @devops-team, @docs-team, @fataplus-admin

📋 Add CI/CD Quick Setup Guide
  CICD_QUICKSTART.md
Owners: @fefe, @docs-team

📦 Cloudron App Store Submission Package
  CLOUDRON_APP_DESCRIPTION.md
  CLOUDRON_SUBMISSION_GUIDE.md
  CloudronManifest.json
  build-cloudron-app.sh
  icon.png
  logo.svg
Owners: @fefe, @docs-team, @fataplus-admin

📋 Final Cloudron App Store Submission Summary
  CLOUDRON_READY.md
Owners: @fefe, @docs-team

Update domain references to fata.plus
  CLOUDRON_APP_DESCRIPTION.md
  CLOUDRON_DEPLOYMENT.md
  CLOUDRON_READY.md
  CLOUDRON_SUBMISSION_GUIDE.md
  CloudronManifest.json
  build-cloudron-app.sh
  web-frontend/src/components/Layout.tsx
  web-frontend/src/pages/login.tsx
Owners: @fefe, @docs-team, @fataplus-admin, @ui-team, @frontend-team

feat: Add comprehensive Cloudflare hosting integration
  .env.cloudflare.example
  .env.example
  CLOUDFLARE_DEPLOYMENT.md
  CLOUDFLARE_INTEGRATION_SUMMARY.md
  CLOUDFLARE_QUICKSTART.md
  Dockerfile.cloudflare
  MOTIA_INTEGRATION.md
  README.md
  cloudflare-manage.sh
  cloudflare-secrets.sh
  commit_changes.sh
  deploy-cloudflare.sh
  docker-compose.cloudflare.yml
  docker-compose.yml
  infrastructure/cloudflare/nginx.conf
  infrastructure/cloudflare/pages.toml
  infrastructure/cloudflare/r2-manage.sh
  infrastructure/cloudflare/r2-storage.js
  infrastructure/cloudflare/worker.js
  infrastructure/cloudflare/wrangler.toml
  motia-service/.motia/motia.state.json
  motia-service/.motia/streams/motia-trace-group.stream.json
  motia-service/.motia/streams/motia-trace.stream.json
  motia-service/Dockerfile
  motia-service/README.md
  motia-service/motia.config.ts
  motia-service/package-lock.json
  motia-service/package.json
  motia-service/src/index.ts
  motia-service/tsconfig.json
  motia-service/types.d.ts
  setup-motia.sh
  start-backend.sh
  validate-cloudflare.sh
  web-backend/requirements.txt
  web-backend/src/main.py
Owners: @fefe, @security-team, @docs-team, @devops-team, @fataplus-admin, @backend-team

Update Cloudron Dockerfile and web frontend config for Cloudflare deployment
  Dockerfile.cloudron
  web-frontend/next.config.js
  web-frontend/package.json
Owners: @fefe, @devops-team, @frontend-team

Delete .env.cloudflare
  .env.cloudflare
Owners: @fefe, @security-team

Remove sensitive files and cleanup temporary files
  .secrets.cloudflare
Owners: @fefe, @fataplus-admin

Add security documentation and cleanup scripts
  FINAL_GIT_HISTORY_CLEANUP_PLAN.md
  GIT_HISTORY_CLEANUP_PLAN.md
  SECURITY_CHECKLIST.md
  SECURITY_REMEDIATION_SUMMARY.md
  SECURITY_REMOVAL_GUIDE.md
  TEAM_SECURITY_NOTIFICATION.md
  scripts/find_sensitive_info.sh
  scripts/git_history_cleanup.sh
  sensitive_strings.txt
Owners: @fefe, @docs-team, @devops-team, @fataplus-admin

Security improvements: Replace hardcoded sensitive values with environment variables
  .env.example
  .gitignore
  CloudronManifest.json
  docker-compose.yml
  platform.env.example
Owners: @fefe, @security-team, @devops-team, @fataplus-admin

Update .gitignore to exclude BFG jar files
  .gitignore
Owners: @fefe, @devops-team

feat(ui): Complete UI design specifications for all user interfaces
  specs/001-fataplus-agritech-platform/admin-dashboard-specifications.md
  specs/001-fataplus-agritech-platform/ui-design-specifications.md
  specs/001-fataplus-agritech-platform/ui-wireframes-and-flows.md
Owners: @fefe, @product-team

## 🎉 Social Media Manager AI Agent - Complete!
  SOCIAL_MEDIA_MANAGER_GUIDE.md
  SOCIAL_MEDIA_MANAGER_SUMMARY.md
  ai-services/social-media-manager/Dockerfile
  ai-services/social-media-manager/README.md
  ai-services/social-media-manager/main.py
  ai-services/social-media-manager/requirements.txt
  ai-services/social-media-manager/start_service.py
  ai-services/social-media-manager/test_social_media_manager.py
  docker-compose.yml
  mcp-server/src/index.ts
  mcp-server/src/tools.ts
  web-frontend/src/pages/social-media.tsx
Owners: @fefe, @docs-team, @devops-team, @ai-team, @ml-engineer-team, @fataplus-admin, @frontend-team

feat: rebuild hero section inspired by Muse design
  web-frontend/ecosystem.config.js
  web-frontend/src/components/sections/HeroSection.tsx
Owners: @fefe, @frontend-team, @ui-team

feat: add Vercel deployment configuration
  web-frontend/next.config.js
  web-frontend/vercel.json
Owners: @fefe, @frontend-team

feat: add Vercel deployment setup for tech.fata.plus
  VERCEL_DEPLOYMENT.md
  web-frontend/.vercelignore
  web-frontend/deploy-vercel.sh
Owners: @fefe, @docs-team, @frontend-team

feat: add immediate deployment guide for Vercel
  DEPLOY_NOW.md
Owners: @fefe, @docs-team

trigger: force new deployment with updated hero section
  web-frontend/vercel.json
Owners: @fefe, @frontend-team

fix: correct Vercel configuration for deployment
  web-frontend/vercel.json
Owners: @fefe, @frontend-team

trigger: force deployment of new Muse-inspired hero section
  web-frontend/src/components/sections/HeroSection.tsx
Owners: @fefe, @ui-team

fix: add proper spacing in hero headline
  web-frontend/src/components/sections/HeroSection.tsx
Owners: @fefe, @ui-team

docs: add comprehensive CI/CD setup documentation
  CICD_VERCEL_SETUP.md
Owners: @fefe, @docs-team

feat: Add comprehensive Cloudflare backend and CI/CD deployment configuration
  .github/workflows/cloudflare-deploy.yml
  CLOUDFLARE_BACKEND_SECRETS.md
  deploy-cloudflare-backend.sh
  web-backend/package.json
  web-backend/src/routes/ai.js
  web-backend/src/routes/auth.js
  web-backend/src/routes/contexts.js
  web-backend/src/routes/farms.js
  web-backend/src/routes/organizations.js
  web-backend/src/routes/storage.js
  web-backend/src/routes/users.js
  web-backend/src/utils/analytics.js
  web-backend/src/utils/errorHandler.js
  web-backend/src/utils/rateLimiter.js
Owners: @fefe, @devops-team, @docs-team, @fataplus-admin, @api-team, @backend-team

temp: Remove workflow file due to GitHub App permissions
  .github/workflows/cloudflare-deploy.yml
Owners: @fefe, @devops-team
