Repository Fataplus/Fataplus-Agritech-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fefe, @fataplus-admin, @frontend-team, @ui-team, @devops-team, @backend-team, @api-team, @data-team, @mobile-team, @ai-team, @docs-team, @product-team, @security-team, @qa-team, @admin-team, @dba-team, @ml-engineer-team

feat(docs): add comprehensive Fataplus MCP connection guide
  docs/FATAPLUS_MCP_CONNECTION_GUIDE.md
Owners: @fefe, @docs-team

feat: Add comprehensive progress tracking system with todo management
  DEPLOYMENT_STATUS.md
  configure-domain-and-ai.sh
  infrastructure/cloudflare/src/worker.js
  infrastructure/cloudflare/wrangler.toml
  mcp-server/wrangler.toml
  populate-autorag.js
  setup-knowledge-base.js
  web-frontend/next.config.js
  web-frontend/src/components/Navbar.tsx
  web-frontend/src/components/ui/TodoItem.tsx
  web-frontend/src/components/ui/TodoStats.tsx
  web-frontend/src/lib/api/todoService.ts
  web-frontend/src/pages/progress.tsx
  web-frontend/src/types/todo.ts
Owners: @fefe, @docs-team, @fataplus-admin, @devops-team, @frontend-team, @ui-team

feat: integrate all 338 project tasks from CSV into progress tracking system
  PROGRESS_PAGE_IMPLEMENTATION.md
  all-tasks-sample.js
  convert-csv-to-todos.js
  converted-todos.json
  populate-all-todos.js
  update-kv-todos.sh
Owners: @fefe, @docs-team, @fataplus-admin

feat: Configure app.fata.plus domain and Cloudflare AI with AutoRAG
  COMPLETE_CONNECTION_STATUS.md
  FINAL_DEPLOYMENT_SUCCESS.md
  MCP_DEPLOYMENT_SUCCESS.md
  agricultural-rag-example.js
  ai-config.json
  autorag-config.json
  check-existing-resources.sh
  cloudflare-connection-success.md
  cloudflare-token-guide.md
  cloudflare-token-permissions-guide.md
  complete-system-audit.sh
  configure-deployment-with-existing.sh
  configure-domain-and-ai.sh
  deploy-mcp-cloudflare.sh
  fataplus-deployment-summary.md
  fix-wrangler-config.sh
  get-cloudflare-token.sh
  infrastructure/cloudflare/package.json
  infrastructure/cloudflare/src/worker.js
  infrastructure/cloudflare/wrangler.toml
  infrastructure/cloudflare/wrangler.toml.backup.20250917_032942
  infrastructure/cloudflare/wrangler.toml.backup.20250917_033223
  mcp-server/package-lock.json
  mcp-server/src/worker.ts.orig
  quick-token-setup.sh
  setup-cloudflare-ai-advanced.sh
  setup-cloudflare-manual.sh
  setup-cloudflare-token.sh
  setup-domain-simple.sh
  setup-fataplus-cloudflare.sh
  update-frontend-config.sh
  validate-and-deploy.sh
  verify-cloudflare-connection.sh
  verify-domain-status.sh
  web-frontend/next.config.js
  web-frontend/package.json.backup.20250917_033152
  web-frontend/src/config/app.config.js
Owners: @fefe, @docs-team, @fataplus-admin, @devops-team, @frontend-team

feat(mcp): configure MCP server deployment to mcp.fata.plus
  .env.cloudflare.example
  cloudflare-dns-config.json
  deploy-mcp-fata-plus.sh
  docs/FATAPLUS_MCP_CONNECTION_GUIDE.md
  docs/MCP_FATA_PLUS_DEPLOYMENT.md
  mcp-server/wrangler.toml
  scripts/configure-mcp-dns.sh
Owners: @fefe, @security-team, @fataplus-admin, @docs-team, @devops-team

feat: Implement secure admin login system for backoffice
  BACKOFFICE_DNS_SETUP.md
  web-frontend/src/lib/auth.ts
  web-frontend/src/pages/admin/index.tsx
  web-frontend/src/pages/index.tsx
  web-frontend/src/pages/login.tsx
Owners: @fefe, @docs-team, @frontend-team

docs: Add comprehensive DNS setup guides and scripts for backoffice.fata.plus
  FINAL_DNS_SOLUTION.md
  add-backoffice-dns.sh
  create-dns-token-guide.md
Owners: @fefe, @docs-team, @fataplus-admin

feat: Successfully create DNS CNAME record for backoffice.fata.plus
  .env.dns
  verify-dns-setup.sh
Owners: @fefe, @security-team, @fataplus-admin

deploy: Fresh deployment with immediate access URLs for admin backoffice
  IMMEDIATE_ACCESS_SOLUTION.md
Owners: @fefe, @docs-team

fix: Implement API fallback system to resolve connection errors
  cloudflare-workers/admin-api/src/index.ts
  web-frontend/src/lib/api-fallback.ts
  web-frontend/src/pages/admin/index.tsx
Owners: @fefe, @fataplus-admin, @frontend-team

fix: Resolve API connectivity issues and improve error handling
  web-frontend/src/lib/api-fallback.ts
Owners: @fefe, @frontend-team

feat: Implement comprehensive AutoRAG monetization system
  autorag-monetization-design.md
  cloudflare-workers/autorag-monetization/src/index.ts
  web-backend/src/context/monetized_context_manager.py
  web-backend/src/context/monetized_routes.py
  web-frontend/src/pages/autorag-marketplace.tsx
Owners: @fefe, @docs-team, @fataplus-admin, @backend-team, @frontend-team

feat(mcp): Add Docker Universal deployment for MCP server
  .env.mcp.example
  Dockerfile.mcp-universal
  MCP_UNIVERSAL_DEPLOYMENT_GUIDE.md
  deploy-mcp-docker.sh
  deploy-mcp-server.sh
  docker-compose.mcp.yml
  test-mcp-config.sh
Owners: @fefe, @security-team, @devops-team, @docs-team, @fataplus-admin

feat(security): complete security integration with production-ready features
  web-backend/security/audit_logging.py
  web-backend/security/authentication.py
  web-backend/security/biometric_auth.py
  web-backend/security/cors_security.py
  web-backend/security/data_encryption.py
  web-backend/security/jwt_auth.py
  web-backend/security/oauth2_integration.py
  web-backend/security/password_reset.py
  web-backend/security/rate_limiting.py
  web-backend/security/rbac.py
  web-backend/security/routes.py
  web-backend/security/session_management.py
  web-backend/security/user_registration.py
  web-backend/src/main.py
Owners: @fefe, @security-team, @backend-team

feat(deployment): complete deployment automation with CI/CD pipeline
  .github/workflows/deploy.yml
  deployment/cloudflare/deploy.sh
  tests/performance/load-test.js
  verify-deployment.sh
Owners: @fefe, @devops-team, @fataplus-admin, @qa-team

fix(dns): add comprehensive DNS configuration and temporary access solutions
  QUICK_START.md
  deployment/dns-configuration.md
  deployment/dns-setup.sh
  deployment/local-deploy.sh
  verify-dns.sh
Owners: @fefe, @docs-team, @fataplus-admin

feat(cloudflare): complete Cloudflare Workers deployment configuration
  CLOUDFLARE_DEPLOYMENT_GUIDE.md
  cloudflare-deploy/deploy.sh
  cloudflare-deploy/package-lock.json
  cloudflare-deploy/package.json
  cloudflare-deploy/src/index.js
  cloudflare-dns-setup.sh
Owners: @fefe, @docs-team, @fataplus-admin, @devops-team

🔒 Security fix: Remove hardcoded Figma API tokens
  docs/figma-api-setup-guide.md
  scripts/figma-mcp-connection-test.js
  scripts/figma-permissions-check.js
  scripts/test-figma-access.js
Owners: @fefe, @docs-team, @devops-team

🔒 Additional security fix: Remove remaining hardcoded tokens from docs
  docs/figma-api-setup-guide.md
Owners: @fefe, @docs-team

🔒 Final security fix: Remove remaining hardcoded Figma tokens
  docs/FIGMA_MCP_CONNECTION_GUIDE.md
  figma-analysis/DESIGN_SYSTEM_INTEGRATION_GUIDE.md
Owners: @fefe, @docs-team

chore(security): remove sensitive env/config files from repository index and update .gitignore
  config/.env.cloudflare.example
  config/.env.example
  config/.env.figma-mcp
  config/.env.local.example
  config/.env.mcp
  config/.env.mcp.example
  config/.env.production.admin
  config/platform.env.example
  docs/CREDENTIALS.md
  fataplus-web-deploy/config/.env.cloudflare.example
  fataplus-web-deploy/config/.env.example
  fataplus-web-deploy/config/.env.figma-mcp
  fataplus-web-deploy/config/.env.local.example
  fataplus-web-deploy/config/.env.mcp
  fataplus-web-deploy/config/.env.mcp.example
  fataplus-web-deploy/config/.env.production.admin
  fataplus-web-deploy/config/platform.env.example
  infrastructure/docker/env-files/production.env
  infrastructure/docker/env-files/staging.env
Owners: @fefe, @devops-team, @docs-team

.github/CODEOWNERS:

# Fataplus Agritech Platform - Code Ownership
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - must review all changes
* @fefe @fataplus-admin

# Web Frontend (Next.js/React)
web-frontend/ @fefe @frontend-team
web-frontend/src/components/ @fefe @ui-team
web-frontend/src/pages/ @fefe @frontend-team
web-frontend/package.json @fefe @devops-team

# Web Backend (FastAPI/Python)
web-backend/ @fefe @backend-team
web-backend/src/routes/ @fefe @api-team
web-backend/src/services/ @fefe @backend-team
web-backend/src/models/ @fefe @data-team
web-backend/requirements.txt @fefe @devops-team

# Mobile Application (React Native)
mobile-app/ @fefe @mobile-team
mobile-app/src/components/ @fefe @mobile-team
mobile-app/android/ @fefe @mobile-team
mobile-app/ios/ @fefe @mobile-team
mobile-app/package.json @fefe @devops-team

# AI Services (Python/ML)
ai-services/ @fefe @ai-team
ai-services/weather/ @fefe @ai-team
ai-services/livestock/ @fefe @ai-team
ai-services/market/ @fefe @ai-team
ai-services/gamification/ @fefe @ai-team
ai-services/requirements.txt @fefe @devops-team

# Infrastructure & DevOps
infrastructure/ @fefe @devops-team
infrastructure/docker/ @fefe @devops-team
infrastructure/k8s/ @fefe @devops-team
infrastructure/terraform/ @fefe @devops-team
infrastructure/monitoring/ @fefe @devops-team

# Tools & Scripts
tools/ @fefe @devops-team
scripts/ @fefe @devops-team

# Documentation
*.md @fefe @docs-team
docs/ @fefe @docs-team
README.md @fefe @docs-team

# Specifications & Requirements
specs/ @fefe @product-team
specs/*/spec.md @fefe @product-team
specs/*/plan.md @fefe @product-team
specs/*/roadmap.md @fefe @product-team

# API Contracts
specs/*/contracts/ @fefe @api-team
*.yaml @fefe @api-team

# Security & Compliance
# Require security team review for authentication, encryption, and compliance
**/auth*/ @fefe @security-team
**/security*/ @fefe @security-team
**/encrypt*/ @fefe @security-team
**/compliance*/ @fefe @security-team

# Database & Data Models
**/models/ @fefe @data-team
**/migrations/ @fefe @data-team
**/schemas/ @fefe @data-team

# Testing
**/tests/ @fefe @qa-team
**/test*/ @fefe @qa-team
**/*.test.* @fefe @qa-team
**/*.spec.* @fefe @qa-team

# CI/CD & Configuration
.github/ @fefe @devops-team
.github/workflows/ @fefe @devops-team
.github/CODEOWNERS @fefe @admin-team
.gitignore @fefe @devops-team
Dockerfile* @fefe @devops-team
docker-compose* @fefe @devops-team

# Dependencies & Package Management
package.json @fefe @devops-team
requirements.txt @fefe @devops-team
pyproject.toml @fefe @devops-team
Pipfile* @fefe @devops-team

# Environment & Configuration
.env* @fefe @security-team
config*/ @fefe @devops-team
**/config/ @fefe @devops-team

# Emergency Contacts
# For critical infrastructure changes
infrastructure/k8s/ @fefe @devops-team @admin-team
infrastructure/terraform/ @fefe @devops-team @admin-team

# Special Reviews Required
# Database schema changes require DBA review
**/alembic/ @fefe @data-team @dba-team
**/migrations/ @fefe @data-team @dba-team

# AI Model changes require ML engineering review
ai-services/**/*.py @fefe @ai-team @ml-engineer-team
**/*model*/ @fefe @ai-team @ml-engineer-team
**/*train*/ @fefe @ai-team @ml-engineer-team
